.DS_Store
_minted-cs1textbook/
code/*.class
cs1textbook.aux
cs1textbook.defn
cs1textbook.fdb_latexmk
cs1textbook.fls
cs1textbook.idx
cs1textbook.ilg
cs1textbook.ind
cs1textbook.javaformat
cs1textbook.lof
cs1textbook.log
cs1textbook.lol
cs1textbook.lot
cs1textbook.maf
cs1textbook.mtc*
cs1textbook.mw
cs1textbook.out
cs1textbook.pdf
cs1textbook.synctex.gz
cs1textbook.tip
cs1textbook.toc
cs1textbook.trap
cs1textbook.records
